.form{
    width: calc(100% - 40px);
}

.filterItem{
    font-size: 16px;
}
.filterItem>legend{
    font-size: 20px;
}
.filterbg{
    background: #dee2e4;
}

.statusAndSort{
    color: rgb(106, 28, 180);
    font-size: 25px;
}

